{% extends 'neighapp/base.html' %} {% block content %} {% load crispy_forms_tags%}

<!-- <div class="content mx-auto p-5 mt-5 bg-white" style="width: 55rem;"> -->
<div class="mx-auto pt-5 px-2">
    <div class="row  mt-4">

        <div class=" col-md-4 border-top  bg-light mx-5 pt-3">
            <p class="text-center"><img class="rounded-circle pt-2 mb-2" src="{{user.profile.image.url}}" height="100rem" width="100rem" alt=""></p>
            <p class=" fs-3 text-center  bg-light rounded-pill">
                {{user.username|title}}
            </p>
            <p class=" pt-2 fs-5 text-center">
                {{user.email}}
            </p>
            <p class=" fs-5 text-center">
                {{user.profile.contact}}
            </p>
            <p class=" fs-5 text-center">
                {{user.profile.location|title}}
            </p>
            <p class=" fs-5 text-center">
                {{user.profile.bio}}
            </p>
            <p class=" fs-5 text-center">
                {{user.profile.created_at}}
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <!-- <div class="col-md-6 px-5 mx-5"></div> -->
            <form class="bg-light py-1" action="" method="POST" enctype="multipart/form-data">
                <!--  prevent cross site forgery -->
                {%csrf_token%}


                <fieldset class="form-group px-3 ">

                    {{u_form|crispy}} {{p_form|crispy}}





                </fieldset>
                <div class="form-group pt-2 px-5 py-4">

                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>


            </form>
        </div>
    </div>
</div>

<!-- </div> -->
{% endblock content %}