{% extends "neighapp/base.html" %} {% block content %}
<section>
    <div class="container mt-5">

        <div class="row mt-4">

            <h2 class="text-center mb-5 headings">Your search results</h2>


            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Oops!</h4>
                    <p>No results found for your search.</p>
                </div>

            </div>
        </div>
</section>

{% endblock %}